{% extends 'base.html' %}

{% block titulo %}
   Lista de peliculas
{% endblock titulo %}

{% block contenido %}
    <form method="post" class="form">
        {% csrf_token %}
        <table class="table">
            <tr class="row">
                <th class="col">Titulo</th>
                <th class="col">Stock</th>
                <th class="col">Rentar</th>
            </tr>
            {% for pelicula in peliculas %}
                <tr class="row">
                    <td class="col">{{pelicula.titulo}}</td>
                    <td class="col"><strong id="_{{pelicula.id}}">{{pelicula.stock}}</strong></td>
                    <td class="col">
                        <div class="form-group form-check">
                            <input class="form-check-input" type="checkbox" name="{{pelicula.id}}" id="{{pelicula.id}}">
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if error %}
            <div id="mensaje_error" class="alert alert-danger" role="alert">
                <p>{{error_message}}</p>
            </div>
        {% endif %}
        <button id="rentar" type="submit" class="btn btn-primary">Rentar</button>
    </form>
{% endblock contenido %}
